@font-face {

  font-family: 'MyFont';

  src: url('./RobotoMono-ExtraLight.ttf');

  font-weight: 900;

  font-style: normal;

}


 .hello {
   color: red;
  font-family: 'MyFont';
   background: url('./paper.jpg');
 }