header{
  width: 100%;
  height: 150px;
  background: #ddd;
}
footer {
  width: 100%;
  height: 200px;
  background: #b9b5b5;
}
main{
  width: calc(100% - 10%);
  height: calc(300*2px);
  background: #a1a1a1;
}
.container {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center
}
.box {
  width: min(300px,50%);
  width: clamp(200px,50%,600px);
  height: min(100px,100%);
  border: 4px solid #cc0909;
}
p{
  font-size: clamp(30px,50%,100px);
}